.navbar {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style-type: none;
  padding-left: 0;
  font-size: 0.75rem;

  @media (min-width: 1280px) {
    font-size: 1rem;
  }
}

.tab:not(:last-child) {
  padding-right: 12px;
  border-right: 1px solid white;
}